# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Env files
.env

# VS Code
.vscode/

# Build / dist
dist/
build/
*.egg-info/

# Test / coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
